.places__title {
    width: 46%;
    /* line-height: 4em; */
    margin: 0 40px 0 0;
  }

  @media screen and (max-width: 768px){
    .places__title {
      line-height: 2.875rem;
    }

  }
  @media screen and (max-width: 692px){
    .places__title  {
      align-self: flex-start;
      margin-bottom: 24px;
    }

  }

  @media screen and (max-width: 425px){
    .places__title  {
      width: 100%;
      margin: auto 0 auto 16px;
      box-sizing: border-box;
      padding-left: 16px;
    }

  }
