.comments__container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 283px;
    margin-top: 35px;
  }

  @media screen and (max-width: 768px){
    .comments__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     width: 60%;
     margin-top: 66px;
    }
  
  } 

  @media screen and (max-width: 425px){
    .comments__container {
     width: 100%;
     margin-top: 43px;
    }
  
  } 