.paragraph {
    /* line-height: 30px; */
    line-height: 1.75rem;
    padding: 0 0 36p8x 0;
    margin: 0;
  }

  @media screen and (max-width: 768px){
    .paragraph {
      font-size:1rem;
      padding: 0 0 24px 0;
    }
  
  } 