@import url('../footer/__copyright/footer__copyright.css');
@import url('../footer/__link/footer__link.css');
@import url('../footer/__links/footer__links.css');

.footer {
    display: flex;
    justify-content: space-between;
    width: 82%;
    align-items: center;
    margin: 160px auto 48px auto;
  }

  @media screen and (max-width: 1024px){
    .footer {
     width: 91%;
    }
  
  } 

  @media screen and (max-width: 768px){
    .footer{
     width: 94%;
     margin: 102px auto 24px auto;
    }
  
  } 

  @media screen and (max-width: 692px){
    .footer  {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin:auto;
      padding-bottom: 24px;
    }
  
  }

  @media screen and (max-width: 425px){
    .footer  {
      font-size: 1.5rem;
    }
  
  }