.video__text-overlay {
  display: flex;
  flex-direction: column;
    padding: 30px 0 30px 30px;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
    width: 65%;
    min-height: calc(100% - 60px );
  }

  @media screen and (max-width: 768px){
    .video__text-overlay {
      width: 90%;
      padding: 24px 0 24px 24px;
      min-height: calc(100% - 48px );
    }
  
  } 